.bolas{
    perspective: 100px;
    perspective-origin: right;
    background-color:  azure;
}

.bola1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: 20%;
    left: 40%;
    transform: translateZ(10px);
}

.bola2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    top: 70%;
    left: 20%;
    transform: translateZ(-5px);
}

.bola3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    top: 30%;
    left: 80%;
    transform: translateZ(10px);
}

.minha-perspectiva{
    perspective: 0px;
    perspective-origin: center;
}

.cubo {
    transform-style: preserve-3d;
    transform:  translate(50%, 50%) rotateY(30deg) rotateX(30deg);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.face {
    height: 100px;
    width: 100px;
    position: absolute;
}

.face-1 { /*frente*/
    background-color: #0000ff;
    transform: translateZ(50px);
}

.face-2 { /*lateral*/
    background-color: #0000cc;
    transform:  translateX(50px) rotateY(90deg);
}

.face-3 { /*lateral*/
    background-color: #000099;
    transform:  translateX(-50px) rotateY(-90deg);
}

.face-4 { /*cima*/
    background-color: #00004c;
    transform:   translateY(-50px) rotateX(90deg);
}

.face-5 { /*baixo*/
    background-color: #000019;
    transform:  translateY(50px) rotateX(-90deg);
}

.face-6 { /*atras*/
    background-color: #4c4cff;
    transform:  translateZ(-50px) rotateY(180deg);
}

