.blog .inicio-post {
  position: absolute;
  top: 4em;
  height: 4em;
  left: 30%;
  right: 8em;
  background-color: #F2FFFC;
  color: #000;
  padding: 2.0em;
}

.foto-home {
    height: 200px;
    border: 0px solid #851944;
    border-radius: 50%;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    padding: 5% 20% 5% 20%;
}
.saudacao-inicio {
    font-size: 300%;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 230%;
    color: #000;
}
.saudacao em {
    font-size: 300%;
    color: #851944;
    display: inline-block;
    transform: rotate(-5deg) skew(-10deg);
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 400px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
}
.secao-inicio{
    position: relative;
    padding: 5% 3% 0% 3%;
}
.secao-inicio h2 {
    font-size: 200%;
    text-transform: uppercase;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: 10px solid black;
    margin-top: 2%;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
    position: relative;
}
.blog small{
    font-size: 90%;
}
.blog li {
    padding: 1% 0% 0% 1%;
      width: 30%;
}
.blog li a {
    color: #FCF;
}

footer {
    padding: 5% 3% 3% 3%;
    background-color: #000;
    color: #FFF;
}
footer h2 {
    font-size: 200%;
}
footer a {
    color: #F99;
}
footer p {
    font-size: 90%;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.palavra-home  {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: #D5447E;
    position: absolute;
    font-size: 400%;
}

.eficiencia {
    -webkit-transform: rotate(-10deg)  translateZ(40px) translate(-50%, -50%) scale(0.25);
    transform: rotate(-10deg)  translateZ(40px) translate(-50%, -50%) scale(0.25);
    top: 40%;
    left: 68%;
}

.boas-praticas {
    -webkit-transform: rotate(-10deg) translateZ(30px) translate(-50%, -50%) scale(0.25);
    transform: rotate(-10deg) translateZ(30px) translate(-50%, -50%) scale(0.25);
    top: 58%;
    left: 30%;
}

.codigo-limpo {
    -webkit-transform: rotate(5deg) translateZ(15px) translate(-50%, -50%) scale(0.25);
    transform: rotate(5deg) translateZ(15px) translate(-50%, -50%) scale(0.25);
    top: 40%;
    left: 30%;
}

.css3 {
    -webkit-transform: rotate(15deg) translateZ(-5px) translate(-50%, -50%) scale(0.25);
    transform: rotate(15deg) translateZ(-5px) translate(-50%, -50%) scale(0.25);
    top: 32%;
    left: 36%;
}

.html5 {
    -webkit-transform: rotate(15deg) translateZ(20px) translate(-50%, -50%) scale(0.25);
    transform: rotate(15deg) translateZ(20px) translate(-50%, -50%) scale(0.25);
    top: 42%;
    left: 65%;
}

.javascript {
    -webkit-transform: rotate(5deg) translateZ(10px) translate(-50%, -50%) scale(0.25);
    transform: rotate(5deg)  translateZ(10px) translate(-50%, -50%) scale(0.25);
    top: 22%;
    left: 65%;
}

.responsivo {
    -webkit-transform: rotate(-20deg) translateZ(40px) translate(-50%, -50%) scale(0.25);
    transform: rotate(-20deg) translateZ(40px) translate(-50%, -50%) scale(0.25);
    top: 30%;
    left: 30%;
}

.otimizacoes {
    -webkit-transform: rotate(-15deg)  translateZ(30px) translate(-50%, -50%) scale(0.25);
    transform: rotate(-15deg)  translateZ(30px) translate(-50%, -50%) scale(0.25);
    top: 50%;
    left: 65%;
}

.agilidade {
    -webkit-transform: rotate(-15deg) translateZ(20px) translate(-50%, -50%) scale(0.25);
    transform: rotate(-15deg) translateZ(20px) translate(-50%, -50%) scale(0.25);
    top: 20%;
    left: 37%;
}

.design {
    -webkit-transform: rotate(15deg)  translateZ(-3px) translate(-50%, -50%) scale(0.25);
    transform: rotate(15deg)  translateZ(-3px) translate(-50%, -50%) scale(0.25);
    top: 35%;
    left: 62%;
}

.acessibilidade{
    -webkit-transform: rotate(15deg) translateZ(5px) translate(-50%, -50%) scale(0.25);
    transform: rotate(15deg) translateZ(5px) translate(-50%, -50%) scale(0.25);
    top: 55%;
    left: 35%;
}

.blog .mais-recente {
    background-color: #F2FFFC;
    padding-bottom: 1%;
}
.blog .mais-recente a {
  color: #F26;
}

.siga-twitter{
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: .3em;
    padding-bottom: .3em;
    text-align: center;
    text-decoration: none;
    border: .2em solid black;
    background-color: #3C1D3D;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    color: white;
    transform-origin: 0 0;
    transform: translate(6.5765em, -2.4745em) rotate(45deg);
}

.skills-perspectiva{
    top : 0;
    width: 100%;
    height: 100%;
    perspective: 100px;
    perspective-origin: center;
    position: absolute;

}
